#social-media-upper > div.styles__NewsAuthorsStyled-n18kic-0.lmssvO.hide-on-mobile > div.authors-info > span {
    color: white;
}

#social-media-upper > div.share-icon-holder > div > span > svg > path {
    fill: white;
}

#social-media-upper > span > svg > path {
    fill: white;
}

.styles__SidebarAdsContainer-sc-1duvs48-0.gyLuDs.sidebar-ads {
    background-color: #27262600;
}

svg.CommentIcon__Container-sc-31jr1u-0.iSZwsj {
    fill: white;
}

svg.styles__ShareIconContainer-vgu0n4-0.cVSgBA.share-icon-svg {
    fill: white;
}

#fusion-app > div:nth-child(4) > div.styles__MockPlayerAudimaStyled-sc-1m08qj4-1.cGHBnm > span {
    color: white;
}

#fusion-app > div:nth-child(4) > div.styles__MockPlayerAudimaStyled-sc-1m08qj4-1.cGHBnm > marquee {
    color: white;
}

#fusion-app > div:nth-child(4) > div:nth-child(3) {
    color: white;
}

#social-media-lower > div.share-container svg {
    color: white;
}

div#uva-embed > hr {
    border-top: 1.5px dotted #ffffff52;
}

p.svelte-1s4w66w::before {
      background-color: #656565 !important;
}

iframe#lgpd {
    display: none;
}

a:link, a:visited, a:hover, a:active {
    color: #5FC2CB;
}

body > div > header > h1.graphic-title {
    display: none !important;
}

@media (max-width: 500px) {
    #iFrameResizer01 {
      height: 1011px !important; /* Ajuste a altura desejada para dispositivos mÃƒÂ³veis */
    }
  }


  #fusion-app > div:nth-child(4) > div.styles__MockPlayerAudimaStyled-sc-1m08qj4-1.bKA-DcY {
    color: white;
    display: none;
  }

  #content > div.styles__ContentWrapperContainerStyled-sc-1ehbu6v-0.klsZKo.content-wrapper.news-body.container.content.template-especial > p:nth-child(1) {
    display: none;
  }

body {
    background: #2e2e2e !important;
    color: #ffffffcc !important;
}

html {
  --cor-primaria: #ffffff !important;
  --cor-texto: #ffffff !important;
  --fio-solido-fino: 1px solid rgb(179 179 179 / 50%) !important;
}


img.uva-image.svelte-pq5qhf {
  background-color: #2e2e2e;
  border-radius: 16px;
  border: 2px solid #c6c6c612;
}

.p.svelte-1xcputd {
  margin: 50px auto 40px auto;
}

.creditos {
    display: flex;
    flex-direction: column;
    gap: 23px;
    font: 500 var(--corpo-mobile) / var(--entrelinha-mobile) var(--texto);
    font-size: 1.17rem;
}

.creditos > p {
    font-weight: 200;
}


.bqNHVE > .bg-image > .shadow-image {
    background-image: linear-gradient(to top, rgba(37, 117, 232, 0), rgb(0 0 0 / 0%)), linear-gradient(rgba(0, 0, 0, 0), rgb(0 0 0 / 71%)) !important;
}

.fwxdVH .head-navbar--bg-overlay-wrapper {
    background: linear-gradient(0deg, rgba(37, 117, 232, 0) 1%, rgb(0 0 0) 100%);
}

#fusion-app > div:nth-child(4) > div:nth-child(7) > div > div > div > div {
    display: none !important;
}

.styles__TempoLeituraStyled-sc-1p416jy-0.fvWkDi {
    display: none;
}
