#social-media-upper > div.styles__NewsAuthorsStyled-n18kic-0.lmssvO.hide-on-mobile > div.authors-info > span {
    color: white;
}

#social-media-upper > div.share-icon-holder > div > span > svg > path {
    fill: white;
}

#social-media-upper > span > svg > path {
    fill: white;
}

.styles__SidebarAdsContainer-sc-1duvs48-0.gyLuDs.sidebar-ads {
    background-color: #27262600;
}

svg.CommentIcon__Container-sc-31jr1u-0.iSZwsj {
    fill: white;
}

svg.styles__ShareIconContainer-vgu0n4-0.cVSgBA.share-icon-svg {
    fill: white;
}

#fusion-app > div:nth-child(4) > div.styles__MockPlayerAudimaStyled-sc-1m08qj4-1.cGHBnm > span {
    color: white;
}

#fusion-app > div:nth-child(4) > div.styles__MockPlayerAudimaStyled-sc-1m08qj4-1.cGHBnm > marquee {
    color: white;
}

#fusion-app > div:nth-child(4) > div:nth-child(3) {
    color: white;
}

#social-media-lower > div.share-container svg {
    color: white;
}

div#uva-embed > p,
div#uva-embed > h3 {
    color: white;
}

div#uva-embed > hr {
    border-top: 1.5px dotted white;
}

p.svelte-1s4w66w::before {
    background-color: #5FC2CB;
}

iframe#lgpd {
    display: none;
}

a:link, a:visited, a:hover, a:active {
    color: #5FC2CB;
}

body > div > header > h1.graphic-title {
    display: none !important;
}

@media (max-width: 500px) {
    #iFrameResizer01 {
      height: 1011px !important; /* Ajuste a altura desejada para dispositivos móveis */
    }
  }