body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-family: 'Open Sans', sans-serif;
    display: flex; /* Adicionada a propriedade display com o valor flex */
    /* flex-direction: column; */
    background-color: #272626;
}

#map {
    flex-grow: 1; /* Ocupa todo o espaço restante */
    flex-shrink: 0; /* Não encolhe */
}

canvas.mapboxgl-canvas {
    width: 100vw;
}

/*  MUDANDO LAYOUT ORIGINAL DA BARRA DE ORIGEM E DESTINO */
.sidebar {
    /* margin: 200px 20px 30px 20px; */
    width: 300px; /* Alterado o valor da largura para 25% */
    /* padding: 20px; */
    /* background-color: #fff; */
    /* overflow-y: scroll; */
    position: fixed;
    top: 180px;
    left: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}



#map > div.mapboxgl-control-container > div.mapboxgl-ctrl-top-left {
    top: 50px;
    left: 50px;
}

#map > div.mapboxgl-control-container > div.mapboxgl-ctrl-top-left > div > div > div > div.mapbox-directions-profile.mapbox-directions-component-keyline.mapbox-directions-clearfix {
    display: none;
}

#map > div.mapboxgl-control-container > div.mapboxgl-ctrl-top-left > div > div > div > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#map > div.mapboxgl-control-container > div.mapboxgl-ctrl-top-left > div > div > div > div:nth-child(1) > button {
    display: none;
}

#mapbox-directions-origin-input > div {
    background-color: #00000091;
    border-radius: 0 12px 12px 0;
}

#mapbox-directions-destination-input > div {
    background-color: #00000091;
    border-radius: 0 12px 12px 0;
}

#map > div.mapboxgl-control-container > div.mapboxgl-ctrl-top-left > div > div > div > div:nth-child(1) > div.mapbox-directions-origin > label {
    border-radius: 12px 0 0 12px;
}

#map > div.mapboxgl-control-container > div.mapboxgl-ctrl-top-left > div > div > div > div:nth-child(1) > div.mapbox-directions-destination > label {
    border-radius: 12px 0 0 12px;
}

#mapbox-directions-destination-input > div > input[type=text] {
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0);
    color: #FFFFFF;
}

#mapbox-directions-origin-input > div > input[type=text] {
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0);
    color: #FFFFFF;
}

#mapbox-directions-origin-input > div > div > button {
    background-color: #ffffff3e;
    border-radius: 100px;
}

#mapbox-directions-destination-input > div > div > button {
    background-color: #ffffff3e;
    border-radius: 100px;
}

#mapbox-directions-origin-input > div > div > span {
    background-color: #ffffff;
    border-radius: 100px;
}

#mapbox-directions-destination-input > div > div > span {
    background-color: #ffffff;
    border-radius: 100px;
}



/* FIM DAS ALTERACOES DO LAYOUT PADRAO */


/*  ADICIONANDO CONTAINER SOBRE AS ROTAS */



section.container {
    background-color: rgba(0, 0, 0, 0.6);
    color: #FFFFFF;
    padding: 25px;
    border-radius: 15px;
    display: none;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    text-align: center;

}


section.container.melhor-rota > p > strong {
    color: #74C476;
    font-weight: 500px;
}

section.container.pior-rota > p > strong {
    color: #de2d26;
    font-weight: 500px;
}

section.container.loading p {
    font-size: 14px;
    font-weight: 300;

}


.card {
    font-size: small;
    border-bottom: solid #d3d3d3 2px;
    margin-bottom: 6px;
}

.card-header {
    font-weight: bold;
    padding: 6px;
}

.no-route {
    background-color: #d3d3d3;
    color: rgb(25, 174, 49);
}

.obstacle-found {
    background-color: #d3d3d3;
    color: #fff;
}

.route-found {
    background-color: #33a532;
    color: #fff;
}

.card-details {
    padding: 3px 6px;
    color: wheat;
}

/* barra que exibe os dados por rota - ANTIGA */
.sidebar_3 {
    display: none;
  }
  
#reports {
    display: none;
  }


  /*  CRIANDO PIN NO MAPBOX */

.custom-marker-a,
.custom-marker-b {
  position: relative;
  width: 30px;
  height: 30px;
}

.custom-marker-a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background-color: #3BB2D0;
  border-radius: 50%;
}

.custom-marker-b::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background-color: #8A8ACB;
    border-radius: 50%;
  }
  



.custom-marker-a span,
.custom-marker-b span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  font-weight: 500;
  color: #FFFFFF;
}


.svg-rotating {
    animation: spin 0.9s linear infinite;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  section.container.nova-busca > div {
    background-color: #3BB2D0;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
  }

  body > div.container-geral > div > section.container.nova-busca {
    background-color: rgb(0 0 0 / 0%);
    padding: 5px 20px;
  }
  


  /*  DESIGN RESPONSIVO */

  @media (max-width: 500px) {

    #map > div.mapboxgl-control-container {
        display: flex;
        justify-content: center;
    }

    .mapboxgl-ctrl-top-left {
        left:auto;
        top: auto;
    }

    #map > div.mapboxgl-control-container > div.mapboxgl-ctrl-top-left {

        left: auto;
        top: 20px;
    }

    .sidebar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        justify-content: flex-end;
        margin-bottom: 30px;
      }

      section.container.pior-rota,
      section.container.loading {
        margin-bottom: 0px;
      }
    
      section.container {
        max-width: 300px;
        width: 250px;
        font-size: 14px;
        line-height: 18px;
      }

      .instrutions {
        height: 155px !important;
    
    }

  


  }

 p.text {
    margin-bottom: 5px;
 }



  /* infos de tempo e distancia da rota */

p.infos-rota {
    font-size: 14px;
    color: #b5b5b5;
    margin: 0;
}

section.container > img {
  width: 180px;
}

/* instrucoes das rotas */

p.btn-instrucoes {

    color: #5c905e;
    font-weight: 500;
    /* text-decoration: underline; */
    cursor: pointer;
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 5px;
}


  /* adicionando barra de rolagem nas instrucoes */

.instrutions {
    height: 200px;
    overflow: scroll;
    overflow-x:hidden;
    display: none;
    margin-top: 15px;
}


div.instrutions::-webkit-scrollbar {
    width: 7px;
    border-radius: 5px;
    background-color: rgba(116, 116, 116, 0.398);
  }
  
  div.instrutions::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 5px;
  }
  
  div.instrutions::-moz-scrollbar {
    width: 10px;
    border-radius: 5px;
    background-color: rgba(131, 131, 131, 0.354);
  }
  
  div.instrutions::-moz-scrollbar-thumb {
    background-color: gray;
    border-radius: 5px;
  }
  
  #routeInstructions > div {
    padding-left: 7px;
    padding-right: 20px;
  }


div#routeInstructions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

p.routeInstructionText {
    text-align: left;
    font-size: 13px;
    /* padding: 0px; */
    margin: 0;
    line-height: 17px;
}

  /* Estilo de cada item da lista de instruções
  .routeInstruction {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #f2f2f2;
}

/* Estilo do número de cada item da lista de instruções */
/* .routeInstructionNumber {
    font-weight: bold;
    font-size: 1.2em;
    margin-right: 10px;
    color: #666;
}

/* Estilo do texto de cada item da lista de instruções */
/* .routeInstructionText {
    font-size: 1.1em;
    color: #333;
} */ 