body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    display: flex; /* Adicionada a propriedade display com o valor flex */
    /* flex-direction: column; */
}

#map {
    flex-grow: 1; /* Ocupa todo o espaço restante */
    flex-shrink: 0; /* Não encolhe */
}

.sidebar {
    margin: 20px 20px 30px 20px;
    width: 25%; /* Alterado o valor da largura para 25% */
    padding: 20px;
    background-color: #fff;
    overflow-y: scroll;
}



.card {
    font-size: small;
    border-bottom: solid #d3d3d3 2px;
    margin-bottom: 6px;
}

.card-header {
    font-weight: bold;
    padding: 6px;
}

.no-route {
    background-color: #d3d3d3;
    color: rgb(25, 174, 49);
}

.obstacle-found {
    background-color: #d3d3d3;
    color: #fff;
}

.route-found {
    background-color: #33a532;
    color: #fff;
}

.card-details {
    padding: 3px 6px;
}


.sidebar_3 {
    position: relative;
    top: 0;
    left: 0;
    height: 100px;
    width: 300px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    overflow-y: scroll;
    z-index: 1;
  }
  


  /*  CRIANDO PIN NO MAPBOX */

  .custom-marker {
  position: relative;
  width: 30px;
  height: 30px;
}

.custom-marker::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background-color: #3BB2D0;
  border-radius: 50%;
}

.custom-marker span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
}
