body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 75%; /* Alterado o valor da largura para 75% */
}

.sidebar {
    position: absolute;
    margin: 20px 20px 30px 20px;
    width: 20%; /* Alterado o valor da largura para 20% */
    top: 0;
    bottom: 0;
    padding: 20px;
    background-color: #fff;
    overflow-y: scroll;
    float: left; /* Adicionada a propriedade float com o valor left */
}


.card {
    font-size: small;
    border-bottom: solid #d3d3d3 2px;
    margin-bottom: 6px;
}

.card-header {
    font-weight: bold;
    padding: 6px;
}

.no-route {
    background-color: #d3d3d3;
    color: rgb(25, 174, 49);
}

.obstacle-found {
    background-color: #d3d3d3;
    color: #fff;
}

.route-found {
    background-color: #33a532;
    color: #fff;
}

.card-details {
    padding: 3px 6px;
}